.alert {
  background-color: rgba(255, 0, 0, 0);
  display: block;

  padding-right: 1vw;
  padding-left: 1vw;
  width: auto;

  transition: 1s background-color ease-in-out;
}

.alertText {
  color: rgba(255, 255, 255, 0);
  transition: 1s color ease-in-out;
}
