#error {
  background-color: rgba(255, 0, 0, 0);

  padding-right: 1vw;
  padding-left: 1vw;

  transition: 1s background-color ease-in-out;
}

#errorText {
  color: rgba(255, 255, 255, 0);
  transition: 1s color ease-in-out;
}
