#navbar {
  background-color: #161b22;

  border-radius: 0px;

  width: 100vw;
}

.navbarLink {
  color: white;
  text-decoration: none;
  border-radius: 0px;

  display: block;
  font-size: 2.5vh;
  line-height: 2.7vh;
  padding: 0.5vh 1vw 0.5vh 1vw;

  float: right;
}

.navbarLink:hover {
  background-color: #1f6feb;
}
