// Imports
@import "./settings/sidebar.scss";
@import "./settings/usersettings.scss";
@import "./settings/adminsettings.scss";

// Overall Settings
h2.settings {
  font-size: 24px;
  margin-left: 1.5vw;
}

.settingselemtent {
  position: absolute;
  left: calc(10vw + 2px);
  width: calc(90vw - 2px);
  height: 96.3vh;
}

#changePasswordAlert,
#asUsersAlert,
#asUsersInputAlert,
#changeUsernameAlert {
  position: absolute;
  right: 3vw;
  top: 3vh;
}

#changeUsernameAlert {
  top: 20vh;
}
