button {
  background-color: #238636;
  border-radius: 3px;
}

h1,
p {
  color: white;
}

div,
input {
  border-radius: 3px;
}

.outside {
  width: 100vw;
  height: 100vh;
}

.login {
  position: absolute;
  left: 38.5vw;
  top: 20vh;
}

.error {
  position: absolute;
  right: 1vw;
  top: 1vh;
}

.navbar {
  position: absolute;
  top: 0px;
  left: 0px;
}

.settings {
  position: absolute;
  top: 3.7vh;
  height: 96.3vh;
  width: 100vw;
}

html {
  background-color: #090c10;
}
